<a  name="contact"></a>
<div class="content-section-a">
	<div class="container">
		<div class="row">
			{% assign contact = site.data.translations.contact[page.lang] %}
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
				<h2 class="section-heading">{{contact.title}}</h2>
				<p>Phone: Selina +49 17665054181, Hoàng +49 15205855609</p>
				<p>Email: <a href="mailto:vovinamvvdberlin@gmail.com?Subject=Hallo" target="_top">vovinamvvdberlin@gmail.com</a></p>
				<p>
					Website: <a href="http://www.vovinamberlin.eu">http://www.vovinamberlin.eu</a>
				</p>
				<p>
					Youtube: <a href="https://www.youtube.com/channel/UCKdSwa0GupVs0EzVk5MqB0w">Vovinam Berlin Lichtenberg Club Channel</a>
				</p>
				<p>
					Facebook page: <a href="https://www.facebook.com/vovinamberlin/">Vovinam Berlin Facebook page<a>
				</p>
			</div>

			<div class="col-lg-5 col-sm-pull-6  col-sm-6">
				<iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fvovinamberlin&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=155620144491134" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</div>

		</div>
	</div>
</div>
