{% assign count = page.image_count %} {% assign various = site.data.translations.various[page.lang] %}

<script type="text/javascript">
    window.EVENT_PAGE = {
        'imageCount': '{{page.image_count}}',
        'imagePath': '{{page.event_path}}'
    }
</script>

<!-- Event Section -->
<section id="event" class="container content-section text-center">
    <div class="row">
        <div id="gallery"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <span> {{ page.credits }}</span>
            {% include disqus_comments.html %}
        </div>
    </div>
</section>
