<section id="page-content">
<!-- Page Content -->
{% assign various = site.data.translations.various[page.lang] %}

{% for post in site.categories[page.category] %}
  {% if post.lang == page.lang %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% if thecycle == 'odd' %}
        <div class="content-section-a">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">{{ post.title }}</h2>
                        <div class="lead">{{ post.excerpt }}</div>
                        <p><a href="{{post.url}}">{{ various.more }}</a></p>
                    </div>
                    <div class="col-lg-6 col-lg-offset-1 col-sm-6">
                        {% include media.html post=post %}
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-a -->
        {% else %}

        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">{{ post.title }}</h2>
                        <div class="lead">{{ post.excerpt }}</div>
                        <p><a href="{{post.url}}">{{ various.more }}</a></p>
                    </div>
                    <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                        {% include media.html post=post %}
                    </div>
                </div>

            </div>
            <!-- /.container -->

        </div>
        <!-- /.content-section-b -->
        {% endif %}
    {% endif %}
{% endfor %}
</section>
