<a  name="timetables"></a>
<div class="content-section-b">

    <div class="container">
        {% assign training = site.data.translations.training[page.lang] %}
        {% assign hall = site.data.translations.hall %}
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">{{training.title}}</h2>
                <p>
                    {{training.trial}}
                </p>
                <p>{{hall.gg}}:</p>
                <p class="lead">
                    <ul>
                        <li>{{training.saturday}}</li>
                    </ul>
                </p>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"></h2>
                <p>{{hall.MvAG}}:</p>
                <p>
                    <ul>
                        <li>{{training.sunday}}</li>
                    </ul>
                </p>
            </div>

            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"></h2>
                <p>{{hall.HuHCG}}:</p>
                <p>
                    <ul>
                        <li>{{training.thursday}}</li>
                    </ul>
                </p>
            </div>


        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->
