<a  name="timetables"></a>
<div class="content-section-b">

    <div class="container">
        {% assign training = site.data.translations.training[page.lang] %}
        {% assign hall = site.data.translations.hall %}
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <h2 class="section-heading">{{training.title}}</h2>
                <p>
                    {{training.trial}}
                </p>
                <p>{{hall.gsl}}:</p>
                <p class="lead">
                    <ul>
                        <li>{{training.monday}}</li>
                    </ul>
                </p>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.9157781328654!2d13.492021315690634!3d52.51686324421432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e967c16058f%3A0x1c517bcf9efbf8e0!2sGrundschule+auf+dem+lichten+Berg!5e0!3m2!1sen!2sde!4v1474841976910" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>

            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"></h2>
                <p>{{hall.gg}}:</p>
                <p>
                    <ul>
                        <li>{{training.saturday}}</li>
                        <li>{{training.sunday}}</li>
                    </ul>
                </p>
                <div class="clearfix"></div>
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.624823452796!2d13.480838400326933!3d52.522128443970985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e8fed2fecb1%3A0x7ef8e8f9b09a919f!2sGrundschule+Im+Gutspark!5e0!3m2!1sen!2sde!4v1474236842624" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>


        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-b -->
